a .glyphicon-spin, fieldset .panel-heading a.panel-title:hover {
	text-decoration: none
}

.tabs-left>.nav-tabs>li:focus, .tabs-left>.nav-tabs>li>a:focus, .tabs-right>.nav-tabs>li:focus, .tabs-right>.nav-tabs>li>a:focus {
	outline: 0
}

html.overlay-open .navbar-fixed-top {
	z-index: 400
}

html.js fieldset.collapsed {
	border-left-width: 1px;
	border-right-width: 1px;
	height: auto
}

html.js input.form-autocomplete {
	background-image: none
}

html.js .autocomplete-throbber {
	background-position: 100% 2px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 15px;
	margin: 2px 0 0 2px;
	width: 15px
}

html.js .autocomplete-throbber.throbbing {
	background-position: 100% -18px
}

body {
	position: relative
}

body.admin-expanded.admin-vertical.admin-nw .navbar, body.admin-expanded.admin-vertical.admin-sw .navbar {
	margin-left: 260px
}

body.navbar-is-fixed-top {
	padding-top: 64px
}

body.navbar-is-fixed-bottom {
	padding-bottom: 64px !important
}

body.toolbar {
	padding-top: 30px !important
}

body.toolbar .navbar-fixed-top {
	top: 30px
}

body.toolbar.navbar-is-fixed-top {
	padding-top: 94px !important
}

body.toolbar-drawer {
	padding-top: 64px !important
}

body.toolbar-drawer .navbar-fixed-top {
	top: 64px
}

body.toolbar-drawer.navbar-is-fixed-top {
	padding-top: 128px !important
}

body.admin-menu .navbar-fixed-top {
	top: 29px
}

body.admin-menu.navbar-is-fixed-top {
	padding-top: 93px
}

body div#admin-toolbar {
	z-index: 1600
}

body #admin-menu, body #admin-toolbar, body #toolbar {
	-webkit-box-shadow: none;
	box-shadow: none
}

body #admin-menu {
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1600
}

body #admin-menu .dropdown li {
	line-height: normal
}

@media screen and (min-width:768px) {
	.navbar.container {
		max-width: 720px
	}
}

@media screen and (min-width:992px) {
	.navbar.container {
		max-width: 940px
	}
}

@media screen and (min-width:1200px) {
	.navbar.container {
		max-width: 1140px
	}
}

.navbar.container, .navbar.container-fluid {
	margin-top: 20px
}

.navbar.container-fluid>.container-fluid, .navbar.container>.container {
	margin: 0;
	padding: 0;
	width: auto
}

#overlay-container, .overlay-element, .overlay-modal-background {
	z-index: 1500
}

#toolbar {
	z-index: 1600
}

.modal {
	z-index: 1620
}

.modal-dialog {
	z-index: 1630
}

.ctools-modal-dialog .modal-body {
	width: 100% !important;
	overflow: auto
}

.book-toc>.dropdown-menu, .region-help .block, div.image-widget-data {
	overflow: hidden
}

.modal-backdrop {
	z-index: 1610
}

.footer {
	margin-top: 45px;
	padding-top: 35px;
	padding-bottom: 36px;
	border-top: 1px solid #e5e5e5
}

.element-invisible {
	margin: 0;
	padding: 0;
	width: 1px
}

.navbar .logo {
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px
}

ul.secondary {
	float: left
}

@media screen and (min-width:768px) {
	.navbar .logo {
		margin-right: 0;
		padding-left: 0
	}
	ul.secondary {
		float: right
	}
}

.page-header, .region-sidebar-first .block:first-child h2.block-title, .region-sidebar-second .block:first-child h2.block-title {
	margin-top: 0
}

p:last-child {
	margin-bottom: 0
}

.region-help>.glyphicon {
	font-size: 18px;
	float: left;
	margin: -.05em .5em 0 0
}

form#search-block-form {
	margin: 0
}

.navbar #block-search-form {
	float: none;
	margin: 5px 0 5px 5px
}

@media screen and (min-width:992px) {
	.navbar #block-search-form {
		float: right
	}
}

.navbar #block-search-form .input-group-btn {
	width: auto
}

ul.action-links {
	margin: 12px 0;
	padding: 0
}

ul.action-links li {
	display: inline;
	margin: 0;
	padding: 0 6px 0 0
}

ul.action-links .glyphicon {
	padding-right: .5em
}

.uneditable-input, input, select, textarea {
	max-width: 100%;
	width: auto
}

.filter-wrapper .form-type-select .filter-list, .managed-files.table td:first-child {
	width: 100%
}

input.error {
	color: #b94a48;
	border-color: #ebccd1
}

fieldset legend.panel-heading {
	float: left;
	line-height: 1em;
	margin: 0
}

fieldset .panel-body {
	clear: both;
	display: inherit
}

.form-type-password-confirm label, .panel-heading {
	display: block
}

fieldset .panel-heading a.panel-title {
	color: inherit;
	display: block;
	margin: -10px -15px;
	padding: 10px 15px
}

.form-group:last-child, .panel:last-child {
	margin-bottom: 0
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0
}

.form-actions {
	clear: both
}

div.image-widget-data {
	float: none
}

table.sticky-header {
	z-index: 1
}

.resizable-textarea textarea {
	border-radius: 4px 4px 0 0
}

.ajax-progress-bar, .filter-wrapper {
	border-radius: 0 0 4px 4px
}

.text-format-wrapper {
	margin-bottom: 15px
}

.text-format-wrapper .filter-wrapper, .text-format-wrapper>.form-type-textarea {
	margin-bottom: 0
}

.filter-wrapper .panel-body {
	padding: 7px
}

.filter-wrapper .form-type-select {
	min-width: 30%
}

.filter-help {
	margin-top: 5px;
	text-align: center
}

@media screen and (min-width:768px) {
	.filter-help {
		float: right
	}
}

.filter-help .glyphicon {
	margin: 0 5px 0 0;
	vertical-align: text-top
}

.checkbox:first-child, .radio:first-child {
	margin-top: 0
}

.checkbox:last-child, .radio:last-child {
	margin-bottom: 0
}

.control-group .help-inline, .help-block {
	color: #999;
	font-size: 12px;
	margin: 5px 0 10px;
	padding: 0
}

a.tabledrag-handle .handle {
	height: auto;
	width: auto
}

.error {
	color: #b94a48
}

div.error, table tr.error {
	background-color: #f2dede;
	color: #b94a48
}

.form-group.error, .form-group.has-error {
	background: 0 0
}

.form-group.error .control-label, .form-group.error label, .form-group.has-error .control-label, .form-group.has-error label {
	color: #b94a48;
	font-weight: 600
}

.form-group.error .uneditable-input, .form-group.error input, .form-group.error select, .form-group.error textarea, .form-group.has-error .uneditable-input, .form-group.has-error input, .form-group.has-error select, .form-group.has-error textarea {
	color: #555
}

.form-group.error .help-block, .form-group.error .help-inline, .form-group.has-error .help-block, .form-group.has-error .help-inline {
	color: #999
}

.nav-tabs {
	margin-bottom: 10px
}

ul li.collapsed, ul li.expanded, ul li.leaf {
	list-style: none
}

.tabs--secondary {
	margin: 0 0 10px
}

.submitted {
	margin-bottom: 1em;
	font-style: italic;
	font-weight: 400;
	color: #777
}

.alert a, .book-toc>.dropdown-menu>li:nth-child(1)>a {
	font-weight: 700
}

.form-type-password-confirm {
	position: relative
}

.form-type-password-confirm label .label {
	float: right
}

.form-type-password-confirm .password-help {
	padding-left: 2em
}

@media(min-width:768px) {
	.form-type-password-confirm .password-help {
		border-left: 1px solid #ddd;
		left: 50%;
		margin-left: 15px;
		position: absolute
	}
}

@media(min-width:992px) {
	.form-type-password-confirm .password-help {
		left: 33.33333333%
	}
}

.form-type-password-confirm .progress {
	background: 0 0;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 4px;
	margin: -5px 0 0
}

.form-type-password-confirm .form-type-password {
	clear: left
}

.form-type-password-confirm .form-control-feedback {
	right: 15px
}

.form-type-password-confirm .help-block {
	clear: both
}

ul.pagination li>a.progress-disabled {
	float: left
}

.form-autocomplete .glyphicon {
	color: #999;
	font-size: 120%
}

.form-autocomplete .glyphicon.glyphicon-spin {
	color: #428bca
}

.form-autocomplete .input-group-addon {
	background-color: #fff
}

.form-autocomplete .dropdown a {
	white-space: normal
}

.ajax-progress-bar {
	border: 1px solid #ccc;
	margin: -1px 0 0;
	padding: 6px 12px;
	width: 100%
}

.ajax-progress-bar .progress {
	height: 8px;
	margin: 0
}

.ajax-progress-bar .message, .ajax-progress-bar .percentage {
	color: #999;
	font-size: 12px;
	line-height: 1em;
	margin: 5px 0 0;
	padding: 0
}

.glyphicon-spin {
	display: inline-block;
	-o-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear
}

a .glyphicon-spin {
	display: inline-block
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg)
	}
}

@-o-keyframes spin {
	0% {
		-o-transform: rotate(0)
	}
	100% {
		-o-transform: rotate(359deg)
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

.tabbable {
	margin-bottom: 20px
}

.tabs-below>.nav-tabs, .tabs-left>.nav-tabs, .tabs-right>.nav-tabs {
	border-bottom: 0
}

.tabs-below>.nav-tabs .summary, .tabs-left>.nav-tabs .summary, .tabs-right>.nav-tabs .summary {
	color: #999;
	font-size: 12px
}

.tab-pane>.panel-heading {
	display: none
}

.tab-content>.active {
	display: block
}

.tabs-below>.nav-tabs {
	border-top: 1px solid #ddd
}

.tabs-below>.nav-tabs>li {
	margin-top: -1px;
	margin-bottom: 0
}

.tabs-below>.nav-tabs>li>a {
	border-radius: 0 0 4px 4px
}

.tabs-below>.nav-tabs>li>a:focus, .tabs-below>.nav-tabs>li>a:hover {
	border-top-color: #ddd;
	border-bottom-color: transparent
}

.tabs-below>.nav-tabs>.active>a, .tabs-below>.nav-tabs>.active>a:focus, .tabs-below>.nav-tabs>.active>a:hover {
	border-color: transparent #ddd #ddd
}

.tabs-left>.nav-tabs, .tabs-right>.nav-tabs {
	padding-bottom: 20px;
	width: 220px
}

.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
	float: none
}

.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
	margin-right: 0;
	margin-bottom: 3px
}

.tabs-left>.tab-content, .tabs-right>.tab-content {
	border-radius: 0 4px 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 10px 15px
}

.tabs-left>.nav-tabs {
	float: left;
	margin-right: -1px
}

.tabs-left>.nav-tabs>li>a {
	border-radius: 4px 0 0 4px
}

.tabs-left>.nav-tabs>li>a:focus, .tabs-left>.nav-tabs>li>a:hover {
	border-color: #eee #ddd #eee #eee
}

.tabs-left>.nav-tabs>.active>a, .tabs-left>.nav-tabs>.active>a:focus, .tabs-left>.nav-tabs>.active>a:hover {
	border-color: #ddd transparent #ddd #ddd;
	-webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, .05);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, .05)
}

.tabs-right>.nav-tabs {
	float: right;
	margin-left: -1px
}

.tabs-right>.nav-tabs>li>a {
	border-radius: 0 4px 4px 0
}

.tabs-right>.nav-tabs>li>a:focus, .tabs-right>.nav-tabs>li>a:hover {
	border-color: #eee #eee #eee #ddd;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .05)
}

.tabs-right>.nav-tabs>.active>a, .tabs-right>.nav-tabs>.active>a:focus, .tabs-right>.nav-tabs>.active>a:hover {
	border-color: #ddd #ddd #ddd transparent
}

td.checkbox, td.radio, th.checkbox, th.radio {
	display: table-cell
}

.views-display-settings .label {
	font-size: 100%;
	color: #666
}

.views-display-settings .footer {
	padding: 0;
	margin: 4px 0 0
}

.views-exposed-form .views-exposed-widget .btn {
	margin-top: 1.8em
}

table .checkbox input[type=checkbox], table .radio input[type=radio] {
	max-width: inherit
}

.form-horizontal .form-group label {
	position: relative;
	min-height: 1px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right
}

@media(min-width:768px) {
	.form-horizontal .form-group label {
		float: left;
		width: 16.66666667%
	}
	body.navbar-is-fixed-top.navbar-administration.navbar-vertical.navbar-tray-open .navbar-fixed-top {
		left: 240px;
		left: 24rem
	}
}

.alert-success a, .alert-success a:focus, .alert-success a:hover {
	color: #356635
}

.alert-info a, .alert-info a:focus, .alert-info a:hover {
	color: #2d6987
}

.alert-warning a, .alert-warning a:focus, .alert-warning a:hover {
	color: #a47e3c
}

.alert-danger a, .alert-danger a:focus, .alert-danger a:hover {
	color: #953b39
}

div.image-style-new, div.image-style-new div {
	display: block
}

div.image-style-new div.input-group {
	display: table
}

.table-striped>tbody>tr:nth-child(odd)>td.module, .table>tbody>tr>td.module, td.module {
	background: #ddd;
	font-weight: 700
}

.book-toc>.dropdown-menu>.dropdown-header {
	white-space: nowrap
}

.book-toc>.dropdown-menu .dropdown-menu {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	display: block;
	font-size: 12px;
	margin: 0;
	padding: 0;
	position: static;
	width: 100%
}

.book-toc>.dropdown-menu .dropdown-menu>li {
	padding-left: 20px
}

.book-toc>.dropdown-menu .dropdown-menu>li>a {
	margin-left: -40px;
	padding-left: 60px
}

#features-filter .form-item.form-type-checkbox {
	padding-left: 20px
}

fieldset.features-export-component {
	font-size: 12px
}

fieldset.features-export-component, html.js #features-export-form fieldset.features-export-component {
	margin: 0 0 10px
}

fieldset.features-export-component .panel-heading {
	padding: 5px 10px
}

fieldset.features-export-component .panel-heading a.panel-title {
	font-size: 12px;
	font-weight: 500;
	margin: -5px -10px;
	padding: 5px 10px
}

fieldset.features-export-component .panel-body {
	padding: 0 10px
}

div.features-export-list {
	margin: -11px 0 10px;
	padding: 0 10px
}

div.features-export-list .form-type-checkbox, fieldset.features-export-component .component-select .form-type-checkbox {
	line-height: 1em;
	margin: 5px 5px 5px 0 !important;
	min-height: 0;
	padding: 3px 3px 3px 25px !important
}

div.features-export-list .form-type-checkbox input[type=checkbox], fieldset.features-export-component .component-select .form-type-checkbox input[type=checkbox] {
	margin-top: 0
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .navbar-fixed-top {
	top: 79px
}

body.navbar-is-fixed-top.navbar-administration .navbar-fixed-top {
	top: 39px
}

.navbar-administration #navbar-administration.navbar-oriented .navbar-bar {
	z-index: 1032
}

.navbar-administration #navbar-administration .navbar-tray {
	z-index: 1031
}

body.navbar-is-fixed-top.navbar-administration {
	padding-top: 103px !important
}

body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open {
	padding-top: 143px !important
}

body.navbar-tray-open.navbar-vertical.navbar-fixed {
	margin-left: 24rem
}

#navbar-administration.navbar-oriented .navbar-tray-vertical {
	width: 24rem
}

body {
	background: #f8fafd;
	width: 100%;
	height: 100%;
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	font-weight: 300;
	position: relative
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	font-weight: 300;
	color: #006a4d
}

ul {
	list-style: none;
	padding-left: 0
}

p {
	line-height: 24px
}

.btn-primary a {
	color: #fff
}

a, .btn, .LM-hover .LM, #home-products .bx-wrapper .bx-controls-direction a, .navbar-default .navbar-collapse .navbar-nav>li>a, #block-search-form input[type=text], .navbar-default .navbar-collapse .navbar-nav>li>a .caret {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease
}

#block-poll-recent, aside .region-sidebar-second section, #distributors-list>div, .view-distributors .item-list ul, .view-test-labs .view-grouping, .view-solution-partners .item-list ul, form.webform-client-form, #block-block-17, #block-block-23, #block-block-24, #block-block-36, #block-block-37, #block-block-38, #block-block-39 {
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

#block-block-23, #block-block-24, #block-block-36, #block-block-37, #block-block-38, #block-block-39 {
	margin: 30px 0;
	padding: 10px 25px
}

section#block-block-40 .block-title {
	display: none
}

section#block-block-40 a {
	width: 100%;
	padding: 10px;
	font-size: 16px
}

section#block-block-40 {
	padding: 20px 0 10px 0
}

#block-webform-client-block-547 div#webform-component-message {
	display: block;
	width: 100%
}

#block-webform-client-block-547 input#edit-submitted-message {
	height: 100px
}

div#webform-component-industry {
	padding-top: 5px
}

body .navbar.container {
	margin-top: 0;
	position: relative;
	z-index: 10
}

#header-top {
	background: #555;
	height: 30px
}

#header-top .header-top-inner {
	float: right
}

#header-top ul.secondary, #header-top .region-top-header {
	float: left
}

#header-top ul.secondary {
	font-size: 11px
}

#header-top ul.secondary a {
	padding: 4px 0 6px 0;
	margin: 0 15px 0 0;
	color: #f5f8f7;
	display: block
}

#header-top ul.secondary a:hover {
	background: transparent !important;
	color: #b8b8b8
}

#header-top .navbar-nav {
	margin: 0
}

#header-top ul.secondary .featured-menu-item a {
	color: #ff9
}

#header-top ul.secondary .active {
	background-color: transparent !important
}

ul.nav li.dropdown:hover ul.dropdown-menu li.expanded ul.dropdown-menu {
	display: none
}

ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover ul.dropdown-menu {
	display: block
}

.dropdown-menu .dropdown-menu {
	left: 100%;
	top: 0
}

a.dropdown-toggle .caret {
	transform: rotate(270deg)
}

.navbar-default .navbar-collapse .navbar-nav>li>a:hover .caret, .navbar-default .navbar-collapse .navbar-nav>.active>a .caret, .navbar-default .navbar-nav>.active>a:hover .caret, .navbar-default .navbar-nav>.active>a:focus .caret, .navbar-default .navbar-collapse .navbar-nav>li.active-trail>a .caret {
	opacity: 0 !important
}

.dropdown-menu a.featured-menu-item-nav {
	background: #ff9
}

#header-top .region-top-header {
	border-left: 1px solid #474747;
	background: #646464;
	background: -moz-linear-gradient(left, #646464 0, #555 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #646464), color-stop(100%, #555));
	background: -webkit-linear-gradient(left, #646464 0, #555 100%);
	background: -o-linear-gradient(left, #646464 0, #555 100%);
	background: -ms-linear-gradient(left, #646464 0, #555 100%);
	background: linear-gradient(to right, #646464 0, #555 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#555555', GradientType=1)
}

ul.connect {
	list-style: none;
	margin: 0 0 0 4px;
	padding: 0
}

ul.connect li {
	float: left;
	margin: 0;
	padding: 0
}

ul.connect li.icon {
	margin-right: 5px
}

ul.connect li.icon a {
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 30px;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s
}

ul.connect li.icon a:hover {
	background-position: center bottom
}

ul.connect li.icon a.facebook {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/icon-facebook.png)*/
}

ul.connect li.icon a.twitter {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/icon-twitter.png)*/
}

ul.connect li.icon a.linkedin {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/icon-linkedin.png)*/
}

ul.connect li.login a {
	color: #fff;
	background: #006a4c;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	padding: 5px 10px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	cursor: pointer;
	text-decoration: none
}

ul.connect li.login a:hover {
	background: #3868b2
}

.navbar {
	border-radius: 0;
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
	margin-bottom: 0
}

.navbar-default {
	border: 0;
	background: #fff
}

.navbar.container {
	padding: 0
}

.navbar.container>.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative
}

.navbar-btn {
	margin-top: 12px;
	margin-bottom: 10px
}

.navbar-default .navbar-collapse .navbar-nav>li>a {
	font-weight: 400;
	color: #999;
	font-size: 12px
}

.navbar-default .navbar-collapse .navbar-nav>li>a:hover {
	color: #01684a;
	background: #f8fafd;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .1)
}

.navbar-default .navbar-collapse .navbar-nav>.active>a, .navbar-default .navbar-collapse .navbar-nav>li.active>a:hover, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-collapse .navbar-nav>li.active-trail>a {
	color: #01684a;
	-webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .2);
	position: relative;
	z-index: 101
}

.navbar-default .navbar-collapse .navbar-nav>li>a .caret {
	z-index: 1000;
	opacity: 0;
	/*background: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/nav-arrow.png) no-repeat;*/
	width: 13px;
	height: 9px;
	border: 0;
	position: absolute;
	left: 50%;
	bottom: -2px;
	margin-left: -7px
}

#views-slideshow-bxslider-2.views-slideshow-bxslider li img {
	height: 200px !important;
	padding: 10px !important
}

.region-home-blog-content .bx-viewport {
	height: 200px !important
}

.navbar-default .navbar-collapse .navbar-nav>li>a:hover .caret, .navbar-default .navbar-collapse .navbar-nav>.active>a .caret, .navbar-default .navbar-nav>.active>a:hover .caret, .navbar-default .navbar-nav>.active>a:focus .caret, .navbar-default .navbar-collapse .navbar-nav>li.active-trail>a .caret {
	opacity: 1
}

.dropdown-menu {
	border: 0;
	font-size: 12px;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 100
}

.dropdown-menu>li {
	border-top: 1px solid #efefef
}

.dropdown-menu>li>a {
	padding: 5px 15px;
	color: #999
}

.dropdown-menu>li>a:hover {
	color: #006a4d
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #006a4d
}

#block-search-form {
	position: absolute;
	right: 15px;
	top: 13px
}

#block-search-form input[type=text] {
	border: 0;
	height: 31px;
	width: 15px;
	background-color: #006a4d;
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/search.png);*/
	background-repeat: no-repeat;
	padding: 0 0 0 26px;
	color: transparent;
	cursor: pointer;
	border-radius: 0
}

#block-search-form input[type=text]:hover {
	background-color: #3868b2
}

#block-search-form input[type=text]:focus {
	width: 200px;
	color: #000;
	background-color: #fff;
	cursor: auto;
	padding: 0 10px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2)
}

#block-search-form .input-group-btn {
	display: none
}

div.caption {
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
	color: #555;
	background: #f8fafd;
	background: rgba(248, 250, 253, 0.8);
	padding: .5% 0;
	background: linear-gradient(to right, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%);
	background: -moz-linear-gradient(left, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(0%, rgba(100, 139, 185, 0)), color-stop(50%, rgba(248, 250, 253, 1)), color-stop(100%, rgba(172, 210, 240, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
	background: -webkit-linear-gradient(left, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%);
	background: -o-linear-gradient(left, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%);
	background: -ms-linear-gradient(left, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%);
	background: linear-gradient(to right, rgba(30, 87, 153, 0) 0, rgba(100, 139, 185, 0) 0, rgba(248, 250, 253, 1) 50%, rgba(172, 210, 240, 0) 100%, rgba(125, 185, 232, 0) 100%)
}

div.caption h2 {
	margin: 0;
	color: #3868b2;
	font-size: 36px
}

.caption p {
	font-size: 16px
}

li#views_slideshow_cycle_div_1_1 .caption p {
	color: #000 !important
}

div#navigation-new {
	border-bottom: 1px solid #ebebeb
}

#home-who-we-are {
	padding-top: 20px
}

#home-who-we-are p {
	padding: 15px 20px
}

.page-header {
	font-size: 40px;
	line-height: 48px;
	border-bottom: 0;
	margin: 20px 0;
	padding-bottom: 0
}

.main-container h2 {
	font-size: 24px
}

.main-container p {
	color: #555;
	font-size: 14px
}

.main-container p strong {
	font-size: 18px;
	color: #393939;
	font-weight: 400;
	line-height: 22px
}

div.region-content {
	margin-bottom: 30px
}

div.region-content .field-name-field-featured-image {
	float: left;
	margin-right: 30px;
	margin-bottom: 10px
}

#home-products h2 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding: 20px 0;
	border-bottom: 1px solid #ebebeb;
	background: #fff
}

#home-products h2 cite {
	font-size: 12px;
	display: block
}

#home-products .bx-wrapper .bx-controls-direction a {
	width: 17px;
	height: 26px;
	opacity: .5
}

#home-products .bx-wrapper .bx-controls-direction a:hover {
	opacity: 1
}

#home-products .bx-prev {
	left: -17px;
	/*background: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/arrow-left.png) no-repeat*/
}

#home-products .bx-next {
	right: -17px;
	/*background: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/arrow-right.png) no-repeat*/
}

#home-products li {
	position: relative;
	opacity: .8
}

#home-products li:hover {
	opacity: 1
}

.LM-hover .LM {
	text-align: center;
	position: absolute;
	width: 100%;
	opacity: 0;
	top: 50%;
	margin-top: -20px
}

.LM-hover:hover .LM {
	opacity: 1
}

.title-outer {
	background: #fff;
	background: -moz-linear-gradient(left, #fff 0, #3868b2 50%, #fff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff), color-stop(50%, #3868b2), color-stop(100%, #fff));
	background: -webkit-linear-gradient(left, #fff 0, #3868b2 50%, #fff 100%);
	background: -o-linear-gradient(left, #fff 0, #3868b2 50%, #fff 100%);
	background: -ms-linear-gradient(left, #fff 0, #3868b2 50%, #fff 100%);
	background: linear-gradient(to right, #fff 0, #3868b2 50%, #fff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
	padding: 1px 0;
	display: block
}

.title-inner {
	background: #fff;
	display: block;
	padding: 5px 0;
	color: #474747;
	font-size: 14px
}

.LM span.btn {
	border-radius: 0;
	font-size: 11px;
	padding: 2px 8px;
	text-transform: lowercase;
	margin-top: -3px
}

#block-block-17 {
	background: #fff;
	padding: 2%;
	margin-top: 20px
}

#block-block-17 h2 {
	margin: 0 0 5px;
	font-size: 19px
}

#block-block-17 a {
	margin-right: 10px
}

.region-home-products h3 {
	text-align: center;
	font-size: 21px;
	margin-top: 10px
}

.region-home-products p {
	line-height: 18px;
	padding-bottom: 10px;
	font-size: 13px
}

.region-home-products .col-lg-3 {
	background: #fff;
	border: 2px solid #f8fafd;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px
}

.view-system-categories .views-field.views-field-nothing a {
	float: right
}

.trigger {
	position: relative
}

.category-popup {
	left: 0;
	background: #fff;
	display: none;
	margin: 0;
	width: 300px;
	padding: 15px;
	position: absolute;
	color: #000;
	left: 0;
	z-index: 999999999;
	-webkit-box-shadow: 0 0 5px 0 rgba(164, 164, 164, 1);
	box-shadow: 0 0 5px 0 rgba(164, 164, 164, 1)
}

.category-hover-slide-up {
	display: block;
	top: -230px
}

.category-popup a {
	float: right;
	text-decoration: underline
}

.category-popup h4 {
	margin-top: 0;
	margin-bottom: 10px
}

.category-popup h5 {
	text-align: center
}

.category-popup:first-child {
	border-right: 1px solid #eee
}

.HASS-popup, .Bench-Top-popup, .Multifunction-popup, .Portable-popup {
	opacity: 0
}

.region-home-content ul, .region-professional-services ul {
	padding-left: 0;
	margin-bottom: 30px
}

.region-home-content li, .region-professional-services li {
	margin-bottom: 30px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 0 1px
}

.region-professional-services li.about {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/about.png)*/
}

.region-professional-services li.proof {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/proof.png)*/
}

.region-professional-services li.success {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success.png)*/
}

.region-home-content li.success {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success.png)*/
}

.region-professional-services li.training {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/training.png)*/
}

.region-home-content li.library {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/library.png)*/
}

.region-professional-services li.labs {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/labs.png)*/
}

.region-professional-services li.partners {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/partners.png)*/
}

.region-home-content li.distributors {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/distributors.png)*/
}

.region-home-content li.catalog {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/catalog.png)*/
}

.region-home-content li.quote {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/quote_icon.png)*/
}

.region-home-content li.refurb {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/refurb_icon.png)*/
}

.region-home-content p strong, .region-professional-services p strong {
	font-weight: 300;
	color: #373838;
	margin-bottom: 5px;
	display: block
}

#distributors-list>div {
	padding: 5px 0;
	margin-bottom: 10px
}

#distributors-list ul {
	margin-bottom: 0;
	border-bottom: 1px solid #e0e0e0;
	margin: 0 15px;
	padding: 10px 0
}

#distributors-list ul:last-child {
	border-bottom: 0
}

#distributors-list li {
	float: left;
	width: 40%
}

#distributors-list li:first-child {
	width: 25%;
	font-weight: 400
}

#distributors-list>div h4 {
	margin: 0 15px;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	color: #3868b3;
	font-size: 18px
}

#distributors-list p {
	margin-left: 15px;
	margin-right: 15px
}

#distributors-list .solution-partners h4, #distributors-list .technology-partners h4 {
	margin-bottom: 10px
}

#distributors-list .solution-partners, #distributors-list .technology-partners {
	padding-bottom: 15px
}

.view-distributors .item-list ul, .view-solution-partners .item-list ul, .view-test-labs .view-grouping {
	padding: 0 15px;
	margin-bottom: 10px
}

.view-distributors .item-list li, .view-solution-partners .item-list li, .view-test-labs li {
	border-bottom: 1px solid #e0e0e0
}

.view-distributors .item-list li:last-child, .view-solution-partners .item-list li:last-child {
	border-bottom: 0
}

.view-distributors .item-list .views-field, .view-test-labs .item-list .views-field {
	float: left;
	display: inline
}

.view-solution-partners .item-list li {
	padding: 10px 0 20px
}

.view-solution-partners .item-list .views-field-view-node {
	margin-top: 15px
}

.view-solution-partners .item-list .views-field-view-node a {
	padding-top: 5px;
	padding-bottom: 5px
}

.view-distributors .item-list .views-field-field-distributor-country, .view-test-labs .item-list .views-field-field-city {
	width: 25%;
	font-weight: 400
}

.view-distributors .item-list .views-field-title, .view-test-labs .item-list .views-field-title {
	width: 40%
}

.view-distributors .item-list .views-field-view-node, .view-test-labs .item-list .views-field-view-node {
	width: 35%
}

.view-distributors .item-list .views-field-field-distributor-country, .view-distributors .item-list .views-field-title, .view-distributors .item-list .views-field-view-node, .view-test-labs .item-list .views-field-field-city, .view-test-labs .item-list .views-field-title, .view-test-labs .item-list .views-field-view-node {
	font-size: 14px;
	padding: 10px 0
}

.view-test-labs .view-grouping {
	margin-bottom: 20px;
	position: relative;
	margin-top: 50px
}

.view-test-labs .view-grouping-header {
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	color: #006a4d;
	position: absolute;
	top: -40px
}

.view-test-labs .view-grouping h3 {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	color: #3868b3;
	font-size: 18px
}

.view-solution-partners .item-list li h3 {
	margin: 0;
	padding: 10px 0;
	color: #3868b3;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	padding: 0
}

.halt-header, .professional-services-header {
	text-align: center;
	background-color: #fff
}

.halt-header h2, .professional-services-header h2 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 25px;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb
}

.halt-details, .professional-services-details {
	text-align: center;
	margin: 0 auto;
	padding: 10px 25px 25px 25px
}

.about-extra-content {
	display: none
}

.down-arrow {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

input#view-more-button {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px
}

input#view-more-button:focus {
	outline: 0
}

.region-home-about .block-title {
	padding: 25px;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb
}

.region-home-about p {
	padding-top: 20px
}

.region-industries-home .industries-desc {
	text-align: center;
	margin: 0 auto;
	padding: 10px 25px 25px 25px
}

.region-industries-home .block-title {
	padding: 25px;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	text-align: center
}

.industries-accordion {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin: 20px auto
}

.industries-accordion ul {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0
}

.industries-accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 500ms ease
}

.industries-accordion ul li div {
	display: block;
	overflow: hidden;
	width: 100%
}

.industries-accordion ul li div a {
	display: block;
	height: 300px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 40px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Arial Narrow",Arial,sans-serif;
	transition: all 200ms ease;
	pointer-events: none;
	cursor: default
}

.industries-accordion ul li div a * {
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease
}

.industries-accordion ul li div a h2 {
	text-overflow: clip;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 2px;
	top: 2%
}

.industries-accordion ul li div a p {
	top: 2%;
	font-size: 1em;
	line-height: 21px;
	color: #fff
}

.industries-accordion ul li:nth-child(1) {
	background-image: url("../img/success_stories_1.jpg")
}

.industries-accordion ul li:nth-child(2) {
	background-image: url("../img/success_stories_4.jpg")
}

.industries-accordion ul li:nth-child(3) {
	background-image: url("../img/success_stories_2.jpg")
}

.industries-accordion ul li:nth-child(4) {
	background-image: url("../img/success_stories_3.jpg")
}

.industries-accordion ul li:nth-child(5) {
	background-image: url("../img/thermal-lab.jpg")
}

.industries-accordion ul li:nth-child(6) {
	background-image: url("../img/ptb2.jpg")
}

.industries-accordion ul li:nth-child(7) {
	background-image: url("../img/mfl.jpg")
}

.industries-accordion ul li:nth-child(8) {
	background-image: url("/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/accordion/telecommunications_accordion.jpg")
}

.industries-accordion ul:hover li {
	width: 8%
}

.industries-accordion ul:hover li:hover {
	width: 100%
}

.industries-accordion ul:hover li:hover a {
	background: rgba(0, 0, 0, 0.5)
}

.industries-accordion ul:hover li:hover a * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.industries-accordion span {
	position: absolute;
	background: #fff;
	padding: 160px 0;
	color: #fff;
	height: 300px;
	text-align: center;
	width: 30px;
	display: block;
	white-space: nowrap;
	z-index: 999
}

.industries-accordion span p:first-child {
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Arial Narrow",Arial,sans-serif;
	top: 50%;
	left: 50%;
	position: absolute;
	color: #006a4d
}

.views-field-field-blog-video {
	padding-left: 0
}

.home-blog-heading {
	margin-top: 0;
	margin-bottom: 0
}

div#bxslider_views_slideshow_main_blog-block_1 {
	padding: 10px
}

.region-home-blog-content .block-title {
	padding: 25px;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	font-size: 24px
}

#block-system-main .col.col-lg-6 {
	background: #fff;
	border: 10px solid #f8fafd;
	min-height: 320px
}

#block-system-main .views-field.views-field-nothing, #block-system-main .views-field.views-field-view-node {
	display: inline
}

#block-system-main .col.col-lg-12 {
	background: #fff;
	border: 10px solid #f8fafd;
	min-height: 320px
}

.view-used-chambers .btn {
	margin-top: 10px;
	margin-bottom: 20px
}

.field-name-field-spec-sheet img {
	display: none
}

.field.field-name-body.field-type-text-with-summary.field-label-hidden {
	padding-bottom: 10px
}

#block-system-main.views-field-title {
	padding: 0
}

.field-content.systems-featured-image {
	float: left;
	padding: 0 25px 0 0
}

.field.field-name-field-system-category.field-type-taxonomy-term-reference.field-label-above {
	display: none
}

#block-views-products-block-2 .view-content {
	background: #fff;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
	padding: 10px
}

#block-views-products-block-2 .view-content>div>div {
	border-bottom: 1px solid #e8e8e8;
	clear: both
}

#block-views-products-block-2 .view-content>div>div:last-child {
	border-bottom: 0
}

#block-views-products-block-2 .spec-title {
	text-transform: uppercase;
	color: #3a3a3a;
	float: left;
	width: 30%;
	font-weight: 400;
	padding: 10px
}

#block-views-products-block-2 .spec-info {
	float: right;
	width: 70%;
	padding: 10px 20px;
	border-left: 1px solid #e8e8e8
}

#block-views-products-block-2 h2 {
	color: #3868b2;
	font-size: 20px;
	padding-left: 10px;
	padding-bottom: 7px
}

.field.field-name-field-system-category.field-type-list-text.field-label-above {
	display: none
}

#block-views-used-chambers-block .view-content {
	margin-left: auto
}

#block-views-used-chambers-block h2 {
	margin-left: 38%
}

#block-views-used-chambers-block .view-content div>div>h4 {
	padding-top: 20px
}

#block-views-used-chambers-block div>div>#views-bootstrap-grid-1 div.row>div.col.col-lg-4 div>div.btn.btn-primary {
	margin-top: 10px
}

#block-views-used-chambers-block div>div>#views-bootstrap-grid-1 div.row>div.col.col-lg-4 div>div.btn.btn-primary a {
	color: #fff;
	text-align: center
}

.view-used-chambers .views-field-field-featured-image img {
	float: left;
	margin-right: 25px
}

#block-views-distributor-info-block .logo {
	float: left;
	margin-right: 15px;
	border-right: 1px solid #ebebeb;
	padding-right: 15px
}

#block-views-distributor-info-block .views-field-field-address-1 {
	float: left;
	padding-top: 6px
}

#block-views-distributor-info-block i {
	font-size: 20px;
	float: left;
	margin-right: 5px;
	color: #3868b2
}

#block-views-distributor-info-block p {
	margin-bottom: 0;
	line-height: 20px
}

p.line-2 {
	padding-left: 22px
}

section#block-block-47 {
	margin-top: 10px
}

body.page-node-177 .row {
	margin-bottom: 25px
}

aside {
	margin-top: 30px
}

.well {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
	padding: 0
}

.main-container aside h2, aside h2.block-title {
	color: #3868b2;
	font-size: 18px;
	margin-top: 0
}

aside .region-sidebar-second section {
	margin-bottom: 30px;
	padding: 10px;
	background: #fff
}

aside .region-sidebar-second img {
	margin: 0 auto
}

aside .region-sidebar-second .nav>li>a {
	padding: 6px 12px 6px 40px;
	text-align: left;
	background-position: 10px 6px;
	margin-bottom: 5px;
	background-repeat: no-repeat
}

aside .region-sidebar-second #automotive {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/automotive.png)*/
}

aside .region-sidebar-second #avionics {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/avionics.png)*/
}

aside .region-sidebar-second #energy {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/computers.png);*/
}

aside .region-sidebar-second #computers {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/computers.png)*/
}

aside .region-sidebar-second #electronics {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/electronics.png)*/
}

aside .region-sidebar-second #defense {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/defense.png)*/
}

aside .region-sidebar-second #medical {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/medical.png)*/
}

aside .region-sidebar-second #oil {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/oil.png)*/
}

aside .region-sidebar-second #meter {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/meter.png)*/
}

aside .region-sidebar-second #telecom {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/telecom.png)*/
}

aside .region-sidebar-second #testing_standards {
	/*background-image: url(http://www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/success-stories/beaker.png)*/
}

aside .region-sidebar-second p {
	font-size: 12px;
	line-height: 16px
}

aside .region-sidebar-second p i {
	font-size: 12px;
	line-height: 16px;
	display: block
}

aside .region-sidebar-second ul.links, aside .region-sidebar-second ul.links li {
	margin: 0;
	padding: 0
}

aside .region-sidebar-second ul.links li {
	float: left;
	margin-top: 5px
}

aside .region-sidebar-second ul.links li.first {
	margin-right: 10px
}

aside .region-sidebar-second .poll label {
	font-size: 12px
}

aside .region-sidebar-second .poll .form-type-radio {
	border-bottom: 1px solid #efefef;
	padding-bottom: 7px
}

aside .region-sidebar-second .poll button {
	float: right
}

aside .region-sidebar-second .poll .result-outer {
	border-bottom: 1px solid #efefef;
	padding-bottom: 5px
}

aside .region-sidebar-second .poll .total {
	float: right;
	margin-top: 5px
}

#block-menu-menu-success-stories, #block-menu-menu-industries, #block-menu-menu-customer-service-request-fo {
	padding: 0;
	background: transparent;
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
}

#block-block-16 .btn, #block-menu-menu-customer-service-request-fo .btn {
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 40px;
	background-position: 10px 6px
}

.btn.info {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/about.png)*/
}

.btn.product {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/services.png)*/
}

.btn.services {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/labs.png)*/
}

.btn.training {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/training.png)*/
}

.btn.parts {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/parts.png)*/
}

.btn.technical {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/support.png)*/
}

.btn.warranty {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/warranty.png)*/
}

.btn.catalog {
	/*background-image: url(//www.qualmark.com/sites/all/themes/qualmark/https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/icons/catalog.png)*/
}

#block-poll-recent .progress {
	margin-bottom: 0
}

#block-poll-recent p {
	margin-bottom: 0;
	font-size: 11px
}

#block-poll-recent p.t-right {
	text-align: right
}

#block-poll-recent .title {
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
	margin-bottom: 7px
}

#block-poll-recent .links a {
	text-decoration: none;
	font-size: 12px;
	color: #006a4d
}

#block-poll-recent .links a:hover {
	text-decoration: underline
}

#cta {
	background: #f8fafd;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
	padding: 20px 0;
	margin-top: 0
}

#cta p {
	font-size: 12px
}

div#webform-component-third-name {
	display: none
}

form.webform-client-form {
	background: #fff;
	padding: 2.5% 2%;
	margin-top: 10px
}

form.webform-client-form .form-item {
	float: left;
	width: 50%;
	padding: 0 2%;
	margin-bottom: 1.5%
}

form.webform-client-form .webform-component-checkboxes {
	display: inline;
	width: 100%
}

form.webform-client-form input[type="email"] {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

form.webform-client-form button {
	clear: both;
	margin: 0 2%;
	display: block
}

#webform-component-extrafield {
	visibility: hidden
}

div .player {
	margin-left: 12%
}

#node-28 ul {
	list-style: none;
	padding: 10px
}

#node-28 li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #3868b1;
	margin-top: 12px
}

#node-28 li {
	position: relative;
	padding: 10px 0 10px 10px;
	line-height: 24px
}

.views-bootstrap-accordion-plugin-style p a:before {
	top: 3px !important;
	left: 4px !important
}

.view-testing-standards-menu li {
	font-size: 12px;
	border-bottom: 1px solid #dfdfdf;
	padding: 20px 0
}

.view-testing-standards-menu li a {
	color: #727272;
	text-decoration: none
}

.view-testing-standards-menu li a:hover {
	color: #006a4c
}

.view-testing-standards-menu li:last-child {
	border-bottom: 0
}

body.page-resources-testing-standards .page-header {
	font-size: 32px;
	color: #00684d;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 12px
}

.node-testing-standards .views-field {
	padding-top: 5px;
	padding-bottom: 5px
}

.node-testing-standards .field-items {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 10px
}

.node-testing-standards .field-name-field-qualmark-accelerated-relia .field-items {
	border-bottom: 0
}

.node-testing-standards .field-items li {
	position: relative;
	padding-left: 10px;
	line-height: 25px
}

.node-testing-standards .field-items li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #3868b1;
	margin-top: 3px
}

.node-testing-standards .field-label {
	font-size: 18px;
	color: #00684a;
	padding: 20px 0 10px
}

body.node-type-testing-standards .page-header {
	font-size: 32px;
	border-bottom: 1px solid #dfdfdf;
	padding: 40px 0 25px
}

.view-testing-standards h3 {
	font-size: 28px;
	border-bottom: 1px solid #dfdfdf;
	padding: 12px 0 12px;
	margin: 0
}

.view-testing-standards h3 a {
	color: #3868b2;
	text-decoration: none
}

.view-testing-standards li {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0
}

.view-testing-standards li:last-child {
	border-bottom: 0;
	padding-bottom: 50px
}

.views-field-title {
	font-size: 18px;
	padding: 10px 0
}

.views-field-title a {
	color: #00684d;
	text-decoration: none
}

.views-field-field-failure-type- {
	font-size: 16px
}

.view-testing-standards-category h3 {
	font-size: 32px;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
	padding: 40px 0 25px
}

.view-testing-standards-category h3 a {
	color: #00684d;
	text-decoration: none
}

.view-testing-standards-category li {
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0
}

.view-standards-scenarios .views-field.views-field-view-node a::before {
	visibility: hidden
}

body.page-resources-hawq-testing-standards .page-header {
	font-size: 32px;
	color: #00684d;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 12px
}

.view-hawq-testing-standards- .views-field-title {
	font-size: 28px
}

.view-hawq-testing-standards- .views-field-title a {
	color: #3868b2
}

body.node-type-hawq-testing-standards .page-header {
	font-size: 32px;
	color: #00684d;
	border-bottom: 1px solid #dfdfdf;
	padding: 40px 0 25px
}

.node-type-hawq-testing-standards .field-collection-view {
	margin: 0;
	border-bottom: 1px solid #dfdfdf;
	padding: 10px 0
}

.node-type-hawq-testing-standards .field-collection-view-final {
	border-bottom: 0
}

.node-type-hawq-testing-standards .field-label {
	font-size: 18px;
	color: #00684a;
	padding: 10px 0
}

.node-type-hawq-testing-standards .field-items {
	font-size: 16px
}

.node-type-hawq-testing-standards .field-items p {
	font-size: 16px
}

.node-type-hawq-testing-standards .field-items a {
	position: relative;
	padding-left: 10px;
	line-height: 25px
}

.node-type-hawq-testing-standards .field-items a:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #3868b1
}

body.page-node-53 .page-header {
	font-size: 32px;
	color: #00684d;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 12px;
	margin-bottom: 0
}

body.page-node-53 .block-title {
	font-size: 28px;
	color: #3868b2;
	border-bottom: 1px solid #dfdfdf;
	padding: 12px 0 12px
}

.panel-default {
	border: 0
}

.panel-default>.panel-heading {
	background: #f8fafd;
	padding-left: 0
}

.views-bootstrap-accordion-plugin-style a {
	position: relative;
	font-size: 18px;
	padding-left: 12px
}

.views-bootstrap-accordion-plugin-style a:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #3868b1;
	margin-top: 2px
}

.panel-body a {
	font-size: 14px;
	padding-left: 12px
}

.view-standards {
	padding-top: 12px;
	display: block
}

#block-views-standards-scenarios-block-11 .views-field-title {
	padding: 5px 0
}

#block-views-standards-scenarios-block-11 .views-field-title a {
	color: #fff
}

.page-company-events .page-header {
	font-size: 32px;
	color: #00684d;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 12px;
	margin-bottom: 0
}

.view-calendar .date-nav-wrapper .date-prev {
	right: 83px
}

.view-calendar .date-nav-wrapper .date-nav {
	margin-top: 10px
}

.view-calendar .date-nav-wrapper .item-list {
	padding: 0
}

.date-nav-wrapper .date-heading {
	font-size: 18px
}

.date-nav-wrapper .date-heading h3 {
	color: #3868b2
}

.ui-dialog-titlebar .ui-dialog-title {
	font-size: 16px;
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	color: #727272
}

.ui-dialog-titlebar {
	width: 500px
}

#event-popup-container .content {
	font-size: 14px;
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	color: #727272;
	line-height: 30px
}

.view-item-calendar .contents a {
	font-size: 12px;
	color: #727272
}

.ui-dialog-titlebar-close:before {
	content: 'x';
	color: #727272;
	/*font-family: "HelveticaNeue-Light";*/
	font-family: "Arial Narrow",Arial,sans-serif;
	font-weight: 300
}

.ui-dialog .ui-dialog-titlebar-close {
	border: 0;
	background: transparent;
	outline: 0;
	margin: -17px 0 0 0
}

#tt_sm {
	background: #fff;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
	padding: 15px
}

#tt_name_sm {
	font-size: 16px;
	margin-bottom: 10px
}

#tt_name_sm a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-indent: -9999px
}

#xmark_sm {
	position: absolute;
	top: -13px;
	right: -10px;
	z-index: 200;
	cursor: pointer;
	background: #fff;
	-webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .3);
	padding: 2px 4px
}

#tt_custom_sm {
	font-size: 14px;
	line-height: 18px
}

#tt_custom_sm img {
	display: block;
	margin-bottom: 10px
}

.footer {
	padding: 25px 0 0;
	font-size: 11px;
	line-height: 20px;
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	font-weight: 400;
	color: #797979;
	margin-top: 0
}

.footer-nav {
	width: 46%;
	list-style: none;
	margin: 0;
	padding: 0;
	border-right: 1px solid #dfdfdf
}

.footer-nav a {
	color: #797979
}

.footer-nav a:hover {
	text-decoration: none;
	color: #3868b2
}

.footer-nav-l {
	float: left
}

.footer-nav-r {
	float: right
}

.footer-copy {
	margin-top: 25px;
	background: #555;
	height: 30px;
	line-height: 30px;
	color: #f5f8f7
}

.footer-copy ul {
	margin: 0;
	padding: 0;
	float: right
}

.footer-copy li {
	float: left
}

.footer ul.connect {
	border-left: 1px solid #474747;
	background: #646464;
	background: -moz-linear-gradient(left, #646464 0, #555 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #646464), color-stop(100%, #555));
	background: -webkit-linear-gradient(left, #646464 0, #555 100%);
	background: -o-linear-gradient(left, #646464 0, #555 100%);
	background: -ms-linear-gradient(left, #646464 0, #555 100%);
	background: linear-gradient(to right, #646464 0, #555 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#555555', GradientType=1);
	padding-left: 5px
}

a.blue {
	color: #3868b2
}

a.blue:hover {
	text-decoration: none;
	color: #016a4d
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	z-index: 2 !important
}

@media screen and (max-width:1200px) {
	.region-home-products {
		text-align: center
	}
	.views-field.views-field-field-system-category-image {
		display: inline-block
	}
	.views-field.views-field-nothing a {
		float: none
	}
}

@media screen and (min-width:1200px) {
	.navbar.container>.container {
		width: 1170px
	}
	.navbar-default .navbar-collapse .navbar-nav>li>a {
		font-size: 14px
	}
	#home-products .bx-wrapper {
		max-width: 1170px
	}
	#home-products .bxslider-views-slideshow-main-frame-row {
		margin-right: 45px
	}
}

@media screen and (min-width:992px) {
	.navbar.container>.container {
		width: 970px
	}
}

@media screen and (max-width:768px) {
	ul.menu.nav.navbar-nav.secondary .leaf:not(: first-child) {
		display: none
	}
	.category-popup {
		display: none
	}
}

@media screen and (min-width:768px) {
	.navbar.container {
		max-width: 100%;
		width: 100%
	}
	.navbar-collapse {
		padding: 0 41px 0 0
	}
	.navbar-nav>li>a {
		padding-top: 23px;
		padding-bottom: 23px;
		padding-left: 15px;
		padding-right: 15px
	}
	.dropdown-toggle {
		display: block
	}
	.dropdown-menu .sub-menu {
		left: 100%;
		position: absolute;
		top: 0;
		visibility: hidden;
		margin-top: -1px
	}
	.dropdown-menu li:hover .sub-menu {
		visibility: visible
	}
	.dropdown:hover .dropdown-menu {
		display: block
	}
	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
		margin-top: 0
	}
}

@media screen and (max-width:700px) {
	#block-search-form {
		position: static;
		display: block
	}
	#block-search-form input[type=text] {
		width: 100%
	}
}

@media screen and (max-width:992px) {
	.industries-accordion ul li div a p {
		line-height: 16px
	}
}

@media screen and (max-width:600px) {
	.industries-accordion {
		height: auto
	}
	.industries-accordion ul li div a p {
		line-height: 14px
	}
	.industries-accordion ul li, .industries-accordion ul li:hover, .industries-accordion ul:hover li, .industries-accordion ul:hover li:hover {
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		transition: none
	}
}

@media screen and (max-width:480px) {
	#views-slideshow-bxslider-1.views-slideshow-bxslider li img {
		height: 200px
	}
	div.caption {
		top: 25%
	}
}

body.page-node-309, body.page-node-311, body.page-node-312 {
	background: #fff
}

body.page-node-309 .main-container, body.page-node-312 .main-container {
	text-align: center
}

body.page-node-311 .main-container {
	text-align: left
}

body.page-node-311 img.img-responsive, body.page-node-312 img.img-responsive {
	margin: 20px auto
}

body.page-node-309 form {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .2)
}

body.page-node-309 .col-r .inner, body.page-node-309 .col-l .inner {
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	padding: 20px
}

body.page-node-309 .portal {
	margin-top: 50px
}

body.page-node-309 .portal .col-sm-6 .inner {
	min-height: 617px
}

body.page-node-309 h2 {
	margin-top: 0
}

body.page-node-309 form.webform-client-form .form-item {
	float: none;
	width: 100%
}

body.page-node-309 label {
	text-align: left;
	display: block
}

body.page-node-309 section.block {
	margin-bottom: 20px
}

body.page-node-309 section.block:last-child {
	margin-bottom: 0
}

.portal-bottom {
	padding: 75px 0
}

.portal-bottom ul {
	text-align: left;
	margin: 15px 50px 0 74px
}

.portal-bottom li {
	margin-bottom: 10px
}

#block-block-28 .btn-block {
	margin: 50px 0
}

#block-webform-client-block-310 .webform-component-email {
	margin: 50px 0 20px
}

@font-face {
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	/*src: url(//www.qualmark.com/sites/default/files/fontyourface/local_fonts/Lato-normal-300/Lato-Light.ttf) format("truetype");*/
	font-style: normal;
	font-weight: 300
}

@font-face {
	/*font-family: 'Lato';*/
	font-family: "Arial Narrow",Arial,sans-serif;
	/*src: url(//www.qualmark.com/sites/default/files/fontyourface/local_fonts/Lato-normal-normal/Lato-Regular.ttf) format("truetype");*/
	font-style: normal;
	font-weight: normal
}