/*
 * Start Bootstrap - Half Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

	html, body {
		height: 100%;
		font-family: "Arial Narrow",Arial,sans-serif;
	}
	/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

	.carousel {
		height: 50%;
	}

	.item, .active, .carousel-inner {
		height: 100%;
	}
	/* Background https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img are set within the HTML using inline CSS, not here */

	.fill {
		width: 100%;
		height: 100%;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}

	footer {
		margin: 50px 0;
	}