	
	
	.theme-blue {
	    color: #054e92;
	}
	
	.marginTop30 {
	    margin-top: 30px;
	}
	/*--------------------- Home Page Style -------------------------------*/
	

	/*font type */
body {
	font-family: "Arial Narrow", Arial, sans-serif !important;
}




	.header-menu li a.active {
	    background: #003366;
	    color: #fff!important;
	}
	
	p.facility-spec {
	    text-align: center;
	}
	
	.header-bar {
	    height: 50px;
	}
	
	.header-text {
	    font-size: 30 px!important;
	    color: #00284d;
	    /*font-family: "Bernard MT Condensed";*/
	    font-family: "Arial Narrow", Arial, sans-serif;
	}
	.logo-img {
	    width: 24% !important;
	}

	.header-bar-link{
        display: inline-block;
		width: 292px;
		height: 72px;
        background: url('https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/header_logo.png');
        background-repeat: no-repeat;
		opacity: 0.87;
    }
	.header-bar-link:hover{
		opacity: 1;
	}
	/*for hover dropdown menu*/
	
	.navbar {
	    padding: 0px!important;
	}
	
	li.dropdown {
	    padding-left: 0px!important;
	}
	
	.dropdown > a {
	    font-weight: normal;
	    font-size: 16px;
	    color: #666;
	}
	/*content slider*/
	
	.slider-content {
	    padding: 0px;
	}
	
	.slider-box {
	    padding: 0px!important;
	    height: 300px;
	}
	/*facility content*/
	
	.facilityspec-overview {
	    background-image: url(https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/bg-facilityspec.jpg);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    margin: 36px 0px;
	}
	
	.facilityspec-overview .overview {
	    background: #003367;
	    margin: 30px 0px;
	    padding: 18px 30px 30px 30px;
	}
	
	.facilityspec-overview .overview h3,
	.facilityspec-overview .overview p {
	    color: #fff;
	}
	
	.facilityspec-overview .overview a {
	    margin-right: 0px;
	    float: right;
	}
	
	.facilityspec-overview .overview button {
	    display: block;
	    border: 2px solid #fff;
	    border-radius: 5px;
	    background: transparent;
	    padding: 9px 24px;
	    color: #fff;
	}
	
	.facility-post img {
	    width: 100%;
	}
	
	.facility-post .post-title {
	    background: #003367;
	    padding: 14px;
	    text-align: center;
	    color: #fff;
	    width: 100%;
	    display: block;
	}
	
	.posts-headtitle h3,
	.success-headtitle h3 {
	    color: #043597;
	    font-weight: bold;
	    margin: 36px 0px;
	}
	
	.success-headtitle h3 {
	    text-align: center;
	}
	
	.viewall-btn {
	    float: right;
	    margin: 30px 0px;
	    background: #003366;
	    color: #fff;
	    border-radius: 3px;
	    padding: 7px 14px;
	}
	
	.facility-content {
	    padding: 0px;
	}
	
	.facility-box {
	    background: #f6f6f6;
	    min-height: 325px;
	}
	
	.facility-inner-text-box {
	    background: white;
	    margin-top: 10px;
	}
	
	.facility-short-desc {
	    padding: 0px;
	    margin-top: 20px;
	}
	
	.facility-short-desc h3 {
	    margin-top: 0px!important;
	    color: #444;
	}
	
	.facility-desc-text {
	    /*width: 94%;*/
	    width: 92%;
	}
	
	.facility-desc-text p {
	    color: #777;
	}
	
	.facility-desc-icon {
	    color: #004d99;
	    font-size: 20px;
	    /*width: 6%;*/
	    width: 8%;
	}
	
	.success-post h4 {
	    color: #043597;
	    font-weight: 600;
	}
	
	.competencyWrap b {
	    display: block;
	}
	/* Start SIT */
	
	.sit-photo,
	.sit-table {
	    text-align: center;
	}
	
	.sit-photo,
	.sit-table {
	    margin: 30px 0px;
	}
	/* End SIT */
	/*bottom slider*/
	
	.bottom-slider {
	    height: 220px;
	    padding-top: 10px;
	}
	
	.bottom-slider img {
	    width: 200px;
	    height: 200px;
	    border-radius: 200px;
	    border: 5px solid gray;
	}
	/*footer content*/
	
	.footer {
	    margin-top: 30px;
	    background: #1a1a1a;
	    /*min-height: 300px;*/
	    min-height: 230px;
	    /*padding-top: 40px;*/
	}
	
	.footer-item h4 {
	    color: white;
	}
	
	.footer-item ul {
	    margin: 0px;
	    padding: 0px;
	}
	
	.footer-item ul li {
	    border-bottom: 1px solid gray;
	    color: gray;
	    /*padding: 15px 0px;*/
	    padding: 5px 0px;
	    list-style: none;
	}
	/*--------------------- Home Page Style -------------------------------*/
	/*-------------------------- QHSE ---------------------------------*/
	
	.qhse-content {
	    padding: 10px 0px 0px 0px;
	    /*border:1px solid red;*/
	}
	
	.qhse-content h3 {
	    font-size: 38px;
	}
	
	.qhse-content .qhse-inner h3 {
	    font-size: 24px;
	    color: #043597;
	    font-weight: bold;
	}
	/*-------------------------- Emergency Personnale -----------------------------*/
	
	.emgpersonlabel {
	    margin-left: 30px;
	    padding: 10px;
	}

.tree ul {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
  height: 20px;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}

.tree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
  border-color: #94a0b4;
}
.treeElement{
	min-width: 250px;
	height: auto;
	position: relative;
	float: left;
}
.treeElement img{
	width: 80px;
	height: 80px;
	display: inline-block;
	position: relative;
	float: left;
	border-radius: 10px;
}
.treeElement .treeElementDes{
	width: 170px;
	height: auto;
	display: inline-block;
	position: relative;
	float: left;
}
.treeElement .treeElementDes h3,.treeElementDes_props{
	text-align: left;
}
.treeElement .treeElementDes h3{
	margin: 0px;
}
.treeElement .treeElementDes .treeElementDes_props table tr{
	
}







	/*--------------------------- Emergency Response Plan --------------------------------*/
	
	.videoContenet {
	    min-height: 611px;
	    background-image: url('https://s3-ap-southeast-1.amazonaws.com/innov8te/testnfacility/img/emgresponsebg.png');
	    background-repeat: no-repeat;
	}

